body {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: 0;
  min-height: 100vh;
  font-family: "Luminari", Arial, Helvetica, sans-serif;
}

.header,
.hero,
.second,
.third,
.fourth,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0; */
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
}

.header {
  flex-direction: row;
  background-color: #fecbd9;
  justify-content: space-between;
  padding-bottom: 18px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  width: 100px;
}

.nav {
  display: flex;
  /* justify-content: flex-end;
  margin-left: auto; */
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.hero {
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
  background-color: #fecbd9;
  padding-bottom: 60px;
  /* margin: auto; */
  gap: 30px;
  flex: 1;
}
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 400px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  padding: 0;
  margin-bottom: 0;
}

.hero-secondary-text {
  font-size: 18px;
  color: #5e7096;
}

.hero-right {
  display: flex;
  height: 350px;
  width: 350px;
  /* margin-left: auto; */
  flex: 1;
}

.hero-pic {
  height: 350px;
  width: 525px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  width: 85px;
}

.second {
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  /* padding: 50px; */
}

h3 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding-top: 20px;
}

.second-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 52px;
  margin-top: 20px;
}

.photo-map {
  max-width: 200px;
}
.photo {
  height: 175px;
  width: 175px;
  border-radius: 25px;
}

.third {
  background-color: #aa4dfd;
  flex: 1;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding: 100px; */
  /* height: 200px; */
  /* flex-direction: column; */
}

.third-container {
  display: flex;
  flex-direction: column;
  place-content: center center;
  max-width: 55%;
  gap: 0;
}

.third-text {
  /* flex-wrap: wrap; */
  /* max-width: 50%; */
  font-size: 36px;
  font-weight: light;
  color: #1f2937;
  padding: 0;
}

.lower-third-text {
  align-self: flex-end;
  padding-top: 0;
}

.fourth {
  padding: 92px 0 92px 0;
}

.fourth-child {
  display: flex;
  flex-direction: row;
  place-content: center center;
  background-color: #5322b1;
  margin: auto;
  /* padding: 100px; */
  height: 150px;
  width: 60%;
  gap: 220px;
}

.left-fourth-child {
  /* display: flex;
  flex-direction: column;
  place-content: center center;
  row-gap: 0px; */
}

.bigger {
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 0;
}

.smaller {
  color: white;
  font-size: 18px;
  padding-top: 0%;
}

.sign-up {
  /* margin-left: auto;
  margin-right: 10%; */
  height: fit-content;
  align-self: center;
}

.footer {
  background-color: #fecbd9;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
