body {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: 0;
  min-height: 100vh;
  font-family: "Luminari", Arial, Helvetica, sans-serif;
}

.header,
.hero,
.second,
.third,
.fourth,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0; */
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 48px;
}

.header {
  flex-direction: row;
  background-color: #fecbd9;
  justify-content: space-between;
  padding-bottom: 18px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  width: 100px;
}

.nav {
  display: flex;
  /* justify-content: flex-end;
  margin-left: auto; */
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

a {
  text-decoration: none;
}

.hero {
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
  background-color: #fecbd9;
  padding-bottom: 60px;
  /* margin: auto; */
  gap: 30px;
  flex: 1;
}
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 400px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}
.hero-right {
  display: flex;
  height: 350px;
  width: 350px;
  /* margin-left: auto; */
  flex: 1;
}

.hero-pic {
  height: 350px;
  width: 525px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  width: 85px;
}

.second {
  flex-direction: column;
  flex: 1;
}

.second-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 52px;
}

.photo-map {
  max-width: 200px;
}
.photo {
  height: 175px;
  width: 175px;
  border-radius: 25px;
}

.third {
  background-color: #aa4dfd;
  flex: 1;
  display: flex;
  padding: 150px;
  flex-direction: column;
}

.third-text {
  display: flex;
  flex-wrap: wrap;
}

.lower-third-text {
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
}
